<div class="content">
    <form [formGroup]="form">
        <h2>Dados pessoais</h2>

        <div class="box-form">

            <div class="field w30" [class.invalid]="isInvalid('nome')">
                <label>Nome</label>
                <input matInput formControlName="nome" required>
                <span class="error" *ngIf="isInvalid('nome')">
                    {{getError(form.get('nome').errors)}}
                </span>
            </div>

            <div class="field w50" [class.invalid]="isInvalid('sobrenome')">
                <label>Sobrenome</label>
                <input matInput formControlName="sobrenome">
                <span class="error" *ngIf="isInvalid('sobrenome')">
                    {{getError(form.get('sobrenome').errors)}}
                </span>
            </div>

            <div class="field w20" [class.invalid]="isInvalid('nascimento')">
                <label>Data de nascimento</label>
                <input matInput formControlName="nascimento" [mask]="'00/00/0000'">
                <span class="error" *ngIf="isInvalid('nascimento')">
                    {{getError(form.get('nascimento').errors)}}
                </span>
            </div>

            <div class="field w30" [class.invalid]="isInvalid('celular')">
                <label>Celular</label>
                <input matInput formControlName="celular" [mask]="'(00) 0 0000-0000'">
                <span class="error" *ngIf="isInvalid('celular')">
                    {{getError(form.get('celular').errors)}}
                </span>
            </div>

            <div class="field w50" [class.invalid]="isInvalid('email')">
                <label>E-mail</label>
                <input matInput formControlName="email">
                <span class="error" *ngIf="isInvalid('email')">
                    {{getError(form.get('email').errors)}}
                </span>
            </div>

            <div class="field w20" [class.invalid]="isInvalid('sexo')">
                <label>Sexo</label>
                <mat-select formControlName="sexo">
                    <mat-option value="feminino">Feminino</mat-option>
                    <mat-option value="masculino">Masculino</mat-option>
                    <mat-option value="outro">Outro</mat-option>
                </mat-select>
                <span class="error" *ngIf="isInvalid('sexo')">
                    {{getError(form.get('sexo').errors)}}
                </span>
            </div>
        </div>

    </form>

    <form [formGroup]="form.get('endereco')">
        <h2>Endereço</h2>

        <div class="box-form">
            <div class="field w20" [class.invalid]="isInvalidEndereco('cep')">
                <label>CEP</label>
                <input matInput formControlName="cep" #cep required (keyup)="buscaCep()" [mask]="'00.000-000'">
                <span class="error" *ngIf="isInvalidEndereco('cep')">
                    {{getError(form.get('endereco').get('cep').errors)}}
                </span>
                <mat-spinner *ngIf="procurandoEndereco" class="fadeIn" diameter="22" color="primary"></mat-spinner>
            </div>

            <div class="field w50" [class.invalid]="isInvalidEndereco('rua')">
                <label>Rua</label>
                <input matInput formControlName="rua" readonly>
                <span class="error" *ngIf="isInvalidEndereco('rua')">
                    {{getError(form.get('endereco').get('rua').errors)}}
                </span>
            </div>

            <div class="field w30" [class.invalid]="isInvalidEndereco('bairro')">
                <label>Bairro</label>
                <input matInput formControlName="bairro" readonly>
                <span class="error" *ngIf="isInvalidEndereco('bairro')">
                    {{getError(form.get('endereco').get('bairro').errors)}}
                </span>
            </div>

            <div class="field w20" [class.invalid]="isInvalidEndereco('numero')">
                <label>Número</label>
                <input matInput formControlName="numero" [mask]="'0*'">
                <span class="error" *ngIf="isInvalidEndereco('numero')">
                    {{getError(form.get('endereco').get('numero').errors)}}
                </span>
            </div>

            <div class="field w50" [class.invalid]="isInvalidEndereco('cidade')">
                <label>Cidade</label>
                <input matInput formControlName="cidade" readonly>
                <span class="error" *ngIf="isInvalidEndereco('cidade')">
                    {{getError(form.get('endereco').get('cidade').errors)}}
                </span>
            </div>

            <div class="field w30" [class.invalid]="isInvalidEndereco('estado')">
                <label>Estado</label>
                <input matInput formControlName="estado" readonly>
                <span class="error" *ngIf="isInvalidEndereco('estado')">
                    {{getError(form.get('endereco').get('estado').errors)}}
                </span>
            </div>

            <div class="field w50" [class.invalid]="isInvalidEndereco('complemento')">
                <label>Complemento</label>
                <input matInput formControlName="complemento">
            </div>
        </div>
    </form>

</div>