<div class="container fadeIn">
    <h1>Meu carrinho</h1>
    <ng-container *ngIf="(carrinho$ | async).items.length > 0; else empty">
        <div class="info">
            <span *ngIf="(carrinho$ | async).items.length > 0">
                {{(carrinho$ | async).items.length}}
                {{(carrinho$ | async).items.length > 1 ? 'itens' : 'item'}} no carinho</span>

            <button mat-button (click)="clear()">
                <mat-icon>clear_all</mat-icon>
                Esvaziar carrinho
            </button>
        </div>
        <mat-table [dataSource]="(carrinho$ | async).items">
            <ng-container matColumnDef="imagem">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <figure>
                        <img [src]="element.produto.imagem" [alt]="element.produto.titulo">
                    </figure>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.produto.titulo}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="preco">
                <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.produto.preco | currency : 'BRL'}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.quantidade}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="subtotal">
                <mat-header-cell *matHeaderCellDef> Subtoal </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.produto.preco * element.quantidade) | currency : 'BRL'}}
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Remover produto" matTooltipPosition="above"
                    (click)="removerProduto(element)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef> {{(carrinho$ | async).total | currency: 'BRL'}} </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>

        <div class="bt-actions">
            <a mat-button routerLink="/home">
                Voltar para loja
            </a>
            <a mat-flat-button color="primary" routerLink="/checkout">
                Ir para checkout
            </a>
        </div>
    </ng-container>

    <ng-template #empty>
        <div class="empty-cart fadeIn">
            <a mat-button routerLink="/home">
                <mat-icon>arrow_back_ios</mat-icon>
                Voltar para loja
            </a>
        </div>
    </ng-template>


</div>