
h1 {
    margin: 0 0 12px 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: #8e8e8e;
        font-size: 14px;
    }

    button mat-icon {
        margin-right: 8px;
    }
}

.bt-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 36px;
    overflow: hidden;

    a:last-of-type {
        margin-left: 8px;
    }
}

.empty-cart {
    min-height: 560px;
    background: url('/assets/images/empty-cart.png') no-repeat;
    background-position: center center;
    position: relative;

    a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content
    }
}