<div class="container fadeIn">
    <h1 class="fadeInLeft">Meu carrinho</h1>
    <ng-container *ngIf="(carrinho$ | async).items.length > 0; else empty">
        <div class="info">
            <span *ngIf="(carrinho$ | async).items.length > 0" class="fadeInLeft">
                {{(carrinho$ | async).items.length}}
                {{(carrinho$ | async).items.length > 1 ? 'itens' : 'item'}} no carinho</span>

            <button type="button" mat-button (click)="clear()" class="fadeInRight">
                <mat-icon>clear_all</mat-icon>
                Esvaziar carrinho
            </button>
        </div>
        <app-table-items-cart [data]="(carrinho$ | async)" (eventRemoverProduto)="removerProduto($event)">
        </app-table-items-cart>

        <div class="bt-actions">
            <a type="button" mat-button routerLink="/home" class="fadeInRight">
                Voltar para loja
            </a>
            <a type="button" mat-flat-button color="primary" class="fadeInRight" routerLink="/checkout">
                Ir para checkout
            </a>
        </div>
    </ng-container>

    <ng-template #empty>
        <div class="empty-cart fadeIn">
            <a mat-button routerLink="/home">
                <mat-icon>arrow_back_ios</mat-icon>
                Voltar para loja
            </a>
        </div>
    </ng-template>


</div>