<div class="cartao">
    <div class="credit-card" [class.rotate]="show">
        <div class="front">
            <div class="chip">
                <span class="left"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="bottom"></span>
            </div>
            <div class="flag fadeIn" *ngIf="logo">
                <img [src]="logo" alt="Bandeira">
            </div>
            <p>{{dados.numero | mask: '0000 0000 0000 0000'}}</p>
            <div class="info">
                <span>{{dados.nome}}</span>
                <span>{{dados.validade | mask: '00/00'}}</span>
            </div>
        </div>
        <div class="back">
            <div></div>
            <div class="ccv">{{dados.ccv}}</div>
        </div>
    </div>
</div>