.mat-row {
    padding-top: 24px;
    padding-bottom: 24px;
}

.mat-header-cell:not(.mat-column-item) {
    justify-content: center;
}

.mat-cell:not(.mat-column-item) {
    justify-content: center;
}

.mat-header-cell {
    text-transform: uppercase;
    font-weight: 600;
}

.mat-column-imagem {
    flex: 0 1 10%;
}

.mat-column-item {
    flex: 0 1 55%;

    figure {
        width: 48px;
        height: 48px;
        margin: 0 12px 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.mat-column-preco {
    flex: 0 1 15%;
}

.mat-column-quantidade {
    flex: 0 1 10%;
}

.mat-column-subtotal {
    flex: 0 1 15%;
}

.mat-column-acoes {
    flex: 0 1 5%;
}

.mat-footer-row {
    border: none;
    font-weight: 600;
}