<div class="content">
    <div class="box">
        <form [formGroup]="form">
            <h2>Forma de pagamento</h2>

            <div class="box-form">
                <div class="field">
                    <!-- <span>Escolha a forma de pagamento</span> -->
                    <mat-radio-group aria-label="Escolha a forma de pagamento" color="primary">
                        <mat-radio-button value="boleto">Boleto</mat-radio-button>
                        <mat-radio-button value="cartao">Cartão de crédito</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </form>
    </div>
    <div class="box"></div>
</div>