/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 24px;
}

.mat-menu-panel {
    max-width: 100% !important;
    min-width: 200px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .4s;
}

.mat-snack-bar-container {
    border: solid 1px;
    padding: 8px 16px !important;

    &.success {
        background-color: #ecf6da;
        border-color: #d0ee94;

        mat-icon {
            color: #60900a;
        }
    }

    &.warning {
        border-color: #eae8c5;
        background-color: #f4f3d2;

        mat-icon {
            color: #b59022;
        }
    }

    &.error {
        border-color: #ead3cb;
        background-color: #f6e1da;

        mat-icon {
            color: #af583c;
        }
    }
}

.mat-select-trigger {
    height: 100%;

    .mat-select-value {
        vertical-align: middle;
        font-size: 14px;
        color: #222428;
    }
}