<div class="container fadeIn">
    <mat-horizontal-stepper #stepper [linear]="true">
        <mat-step label="Informações pessoais" state="dados" [stepControl]="formDadosPessoais" [editable]="isEditable">
            <app-form-dados-pessoais [form]="formDadosPessoais"></app-form-dados-pessoais>
        </mat-step>

        <mat-step label="Pagamento" state="pagamento" [stepControl]="formPagamento" [editable]="isEditable">
            <app-form-pagamento [form]="formPagamento" [total]="(carrinho$ | async).total"></app-form-pagamento>
        </mat-step>

        <mat-step label="Confirmação" state="confirmacao" [stepControl]="controlConfirmacao" [editable]="isEditable">
            <app-confirmacao></app-confirmacao>
        </mat-step>

        <mat-step label="Finalizado" state="finalizado">
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="dados">
            <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="pagamento">
            <mat-icon>payment</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="confirmacao">
            <mat-icon>ballot</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="finalizado">
            <mat-icon>done</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
    <div class="bt-actions">
        <ng-container *ngIf="stepper.selectedIndex !== 3">
            <button type="button" mat-flat-button routerLink="/carrinho" class="fadeInRight"
                *ngIf="stepper.selectedIndex === 0">
                Retornar para carrinho</button>
            <button type="button" mat-flat-button (click)="stepper.previous()" class="fadeInRight"
                *ngIf="stepper.selectedIndex !== 0">
                Retornar
            </button>
        </ng-container>

        <button type="button" mat-flat-button class="fadeInRight" color="primary" (click)="avancar()">
            <!-- {{stepper.selectedIndex !== 2 ? 'Prosseguir' : 'Finalizar pedido'}} -->
            {{textButton[stepper.selectedIndex]}}
        </button>
    </div>

</div>